<label><b>{{ title }}</b></label><br>
<hr>
<table>
    <tr>
        <td><label>Employee Name:</label></td>
        <td><input type="text" id="name" min="3"></td>
    </tr>
    <tr>
        <td><label>Location:</label></td>
        <td><input type="text" id="location"></td>
    </tr>
    <tr>
        <td><label>Email:</label></td>
        <td><input type="email" id="email"></td>
    </tr>
    <tr>
        <td><label>Mobile:</label></td>
        <td><input type="text" id="mobile" min="8" max="10"></td>
    </tr>
    <tr>
        <td colspan="2"><button id="add" disabled>Submit</button></td>
    </tr>
</table>