<label><b>{{ title }}</b></label><br>
<hr>
<table>
    <tr>
        <td><label>Employee Name:</label></td>
        <td><input type="text" #empName id="name" min="3"></td>
    </tr>
    <tr>
        <td><label>Location:</label></td>
        <td><select #empLocation id="location">
          <option *ngFor="let location of locationList">{{location}}</option>
          </select></td>
    </tr>
    <tr>
        <td><label>Email:</label></td>
        <td><input type="email" #empEmail id="email"></td>
    </tr>
    <tr>
        <td><label>Mobile:</label></td>
        <td><input type="text" #empMobile id="mobile" min="8" max="10"></td>
    </tr>
    <tr>
        <td colspan="2"><button id="add" (click)="add(empName.value,empLocation.value,empEmail.value,empMobile.value)">Submit</button></td>
    </tr>
</table>