<label><b>{{ title }}</b></label><br><br>
<table>
    <tr>
        <td><label>ID:</label></td>
        <td></td>
    </tr>
    <tr>
        <td><label>Name:</label></td>
        <td></td>
    </tr>
    <tr>
        <td><label>Location:</label></td>
        <td></td>
    </tr>
    <tr>
        <td><label>Email:</label></td>
        <td></td>
    </tr>
    <tr>
        <td><label>Mobile:</label></td>
        <td></td>
    </tr>
</table><br>
<button routerLink = "/employees" id="back">Back</button>