<label>Filter by:</label><br>
<input type = "text" id = "filter" [(ngModel)]="filterby"><br><br>
<label id = "count">Total Number of Employees: {{ count }}</label>
<br><br>
<table border="2">
    <th>Emp ID</th>
    <th>Name</th>
    <th>Location</th>
    <th>Email</th>
    <th>Mobile</th>
    <th>Edit</th>
    <th>Delete</th>
<tr *ngFor = "let employee of filteredEmployees">
    <td><a [routerLink] = "['/details',employee.id]">{{employee.id}}</a></td>
    <td id="name{{employee.id}}">{{employee.name}}</td>
    <td id="loc{{employee.id}}">{{employee.location}}</td>
    <td id="email{{employee.id}}">{{employee.email}}</td>
    <td id="mob{{employee.id}}">{{employee.mobile}}</td>
    <td><button (click)="edit(employee)">Edit{{employee.id}}</button></td>
    <td><button 
    (click)="delete(employee)">Delete{{employee.id}}</button></td>
</tr>
</table>


